* {
	font-family: 'Poppins';
}

.container {
	padding: 3em 5em;
}

.card {
	background-color: white;
	border: 2px solid #ededef;
	padding: 2em 2em 3em 2em;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 2em;
}
